/algebra_relacional/*.aux
/algebra_relacional/*.log
/algebra_relacional/*.toc
/algebra_relacional/*.synctex.gz
/algebra_relacional/*.out

/algebra_relacional/problemas/*.aux
/algebra_relacional/problemas/*.log
/algebra_relacional/problemas/*.toc
/algebra_relacional/problemas/*.synctex.gz
/algebra_relacional/problemas/*.out

/consultas_sql/*.aux
/consultas_sql/*.log
/consultas_sql/*.toc
/consultas_sql/*.synctex.gz
/consultas_sql/*.out

/consultas_sql/problemas/*.aux
/consultas_sql/problemas/*.log
/consultas_sql/problemas/*.toc
/consultas_sql/problemas/*.synctex.gz
/consultas_sql/problemas/*.out
